* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a,
button,
h1,
h2,
h3,
h4 {
  color: rgb(40, 40, 40);
}

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
  height: 8vh;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav, a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.nav-links a, .nav-links button {
  margin-left: 2rem;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
}

.buy-button {
  padding: 0.2rem 2rem;
  font-size: 0.7rem;
  background-color: rgb(40, 40, 40);
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* First Page */

.first-page {
  min-height: 100vh;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-page-text {
  z-index: 2;
  text-align: center;
  padding-bottom: 10rem;
}

.first-page-title {
  font-size: 1.5rem;
}

.first-page-subtitle {
  font-size: 3rem;
}

.intro-video {
  position: absolute;
}

/* Second Page */

.second-page {
  min-height: 120vh;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.smoke-video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}

.second-text {
  padding: 5% 30%;
  position: relative;
  z-index: 2;
  font-size: 3.3rem;
  font-weight: bold;
}